<div class="container-fluid main-wrapper">
  <header class="container-fluid header-navbar">
      Paste custom header tag here
  </header>
  <section class="container page-wrapper">
    <div class="col-lg-4 sidebar-wrapper">
      Paste custom sidebar tag here
    </div>
    <main class="col-lg-8 content-wrapper">
      <div class="container-fluid filter-wrapper">
          <app-filter class="container-fluid" [filters]=jsonData.filters (getFilter)="selectFilterOption($event)"></app-filter>   
      </div>
      <div class="container-fluid list-wrapper">
        <app-list></app-list>
      </div>
    </main>
  </section>
</div>
